@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 66px;

}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 38px;
}

p {
    font-size: 19px;
    line-height: 1.5em;
}

.section-p1 {
    padding: 25px 50px;
}

body {
    background-color: #eff5ee;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    height: 40px;
    background-color: #243f2f;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 700;

}




#navbar a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
}

#navbar a:hover {
    color: #ec6e55;
}

#header-dil a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;


}

#header-dil a i {
    color: #ec6e55;

}

#nav-button {
    display: flex;
    align-items: center;
    justify-content: center;

}

#nav-button li {
    list-style: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
}

#nav-button li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
}

#nav-button li i {
    font-size: 12px;
    color: #ec6e55;
    transition: 0.3s ease;
}

#nav-button li i:hover {
    color: #ffffff;
}

#nav-button a:hover {

    color: #ec6e55;
}


#header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 0px 8px 19px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999
}

#navbar1 {

    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
}




#navbar1 li {

    list-style: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 700;

}

#navbar2 li {
    list-style: none;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 700;
}

#navbar1 li a {
    text-decoration: none;
    color: #243f2f;
    transition: 0.3s ease;
}

#navbar2 li a {
    text-decoration: none;
    color: #243f2f;
    transition: 0.3s ease;

}

#navbar1 li i {
    font-size: 18px;
    color: #ec6e55;
    transition: 0.3s ease;
}

#navbar2 li i {
    font-size: 16px;
    color: #243f2f;
    transition: 0.3s ease;
}

#navbar1 img {
    width: 170px;
    height: 30px;

}


#navbar1 li a:hover,
#navbar2 li i:hover {
    color: #ec6e55;
}

#home {
    background-color: #577243;
    background-image: url(/img/assets/bg.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;

}

#home-text {
    padding: 0 50px;
    padding-top: 70px;
    padding-bottom: 30px;
    width: 100%;

}

#home-text h1 {
    color: #EBFFDC;
    font-size: 70px;
    letter-spacing: -3.999px;
    text-shadow: 1px 1.5px rgba(0, 0, 0, 0.24);
    line-height: 73px;
}

#home-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 50px;
}

#home-button p {
    font-size: 14px;
    color: #EBFFDC;
    font-weight: 700;
}

#home-button button {
    font-size: 15px;
    font-weight: 700;
    padding: 13px 20px 13px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in;
    background-color: #243f2f;
    color: #ffffff;
    margin-right: 25px;
}

#home-button button i {
    color: #ec6e55;

}

#home-button button:hover {
    background-color: #ffffff;
    color: #243f2f;
}

#types {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;

}


#types h2 {
    color: #243f2f;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.8px;
    line-height: 1;
}

#types-img {
    background-color: #C6D9C1;
    background-image: url(/img/types/tp1.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 255px;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    transition: transform 0.5s ease;

}



#types-img:hover {
    transform: translateY(-5px);

}


#types-img button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.08;
    background-color: #ffffff;
    color: #243f2f;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-top: 30px;
    transition: 0.3s ease;
}

#types-img button:hover {
    background-color: #243f2f;
    color: white;
}


#types .types-img2 {
    background-color: #C9E8EE;
    background-image: url(/img/types/tp3.jpg);
}

#types .types-img1 {
    background-color: #F8DDB1;
    background-image: url(/img/types/tp2.jpg);
}



#home-items .item-box {
    width: calc(100% /6);
    border-right: 1px solid#d9e7d6;
    border-bottom: 1px solid#d9e7d6;

}

.home-h2 {
    text-align: center;
    margin-bottom: 25px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid#d9e7d6;
    display: flex;
    flex-wrap: wrap;
}


.home-h2 h2 {
    font-size: 27px;
}

#home-items {
    padding: 0 50px;
    margin-bottom: 25px;
}

#home-items .pro-img {
    width: 100%;
}

#home-items .pro-img img {
    width: 100%;
}

#home-items .img {

    height: auto;
    padding: 25px;
    margin-bottom: 25px;
    cursor: pointer;

}

#home-items .img h4 {
    font-size: 13px;
    margin-bottom: 10px;
    color: #243f2f;
    transition: 0.3s ease;
}

#home-items .img h4:hover {

    color: #ec6e55;
}

#home-items .img p {
    font-size: 11px;
    margin-bottom: 10px;
    color: #212121;
}

#home-items p strong {
    color: #ec6e55;
}




#home-items span {
    font-size: 11px;
    margin-bottom: 10px;
    padding: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

#home-items span:hover {
    color: #ec6e55;
}

#home-items .price-cart {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

#home-items .img1 {
    border-top-left-radius: 10px;


}

#home-items .img2 {
    border-top-right-radius: 10px;
    border-right: none;


}


#home-items .price-cart i {
    color: #243f2f;
    font-size: 16px;
    padding: 10px;
    background: #eff5ee;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    font-weight: 600;
}


#home-items .price-cart i:hover {
    color: #ffffff;
    background-color: #243f2f;
}

#banner {
    padding: 25px 50px;
}

.banner1 {
    padding: 0px 50px;
    background-color: transparent;
    background-image: radial-gradient(at center left, #51A390 3%, #276153 81%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-height: 380px;
    align-items: center;
    border-radius: 20px;
}

.banner1 .banner-img {
    width: 40%;
    padding: 40px 20px;
    margin: -70px 0px 0px 0px;
}

.banner1 h2 {
    color: #D4FFFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -2.048px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.24);
}

.banner1 p {
    color: #D4FFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;

}


.banner1 button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.08;
    background-color: #ffffff;
    color: #243f2f;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-top: 10px;
    transition: 0.3s ease;

}

.banner1 button:hover {
    color: #ffffff;
    background-color: #243f2f;

}


.banner1 img {
    width: 85%;
    height: auto;

}