@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

h1{
    font-size: 66px;
    
}

h2{
    font-size: 56px;
}

h3{
    font-size: 45px;
}

h4{
    font-size: 38px;
}

p{
    font-size: 19px;
    line-height: 1.5em;
}

body{
    background-color: #F6F1EE;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    height: 70px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 30px;
    font-size: 20px;
    
}




#navbar a{
    text-decoration: none;
    color: #2a1610; 
    transition: 0.3s ease;
}

#navbar a:hover{
    color: #ea6811;
}

#header .logo {
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    
}


