@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 250, 244);
    font-family: 'Noto Sans', sans-serif;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(250, 243, 235);
    height: 90px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}


#header a {
    text-decoration: none;
    color: #011b1e;
}

#header a img{
    width: 200px;
    height: auto;
}


#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 30px;
    position: relative;
    
}

#navbar li a{
    text-decoration: none;
    color: #011b1e;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s ease;
    
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(0, 116, 129);
}


#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 25%;
    height: 3px;
    background:rgb(0, 116, 129) ;
    position: absolute;
    bottom: -3px;
    left: 30px;
}

